<div id="preloader" class="preloader">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: transparent; display: block;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <text x="50" y="50" text-anchor="middle" dy="0.38em" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke="#2f89fc" stroke-width="0.6000000000000001" font-size="28" font-family="Harry P">
          LOADING
          <animate attributeName="stroke-dasharray" repeatCount="indefinite" begin="0" calcMode="spline" dur="5.88235294117647s" values="0 100;100 100;0 100" keyTimes="0;0.5;1" keySplines="0.3 0 0.7 1;0.3 0 0.7 1"></animate>
          <animate attributeName="stroke-dashoffset" repeatCount="indefinite" begin="0" dur="5.88235294117647s" values="0;0;-100" keyTimes="0;0.5;1"></animate>
        </text>
    </svg> -->

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:transparent;display:block;" width="211px" height="211px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
      <text x="50" y="50" text-anchor="middle" dy="0.38em" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke="#2f89fc" stroke-width="0.8" font-size="19" font-family="Arial">
        LOADING
        <animate attributeName="stroke-dasharray" repeatCount="indefinite" calcMode="spline" dur="5s" values="0 81;81 81;0 81" keyTimes="0;0.5;1" keySplines="0.3 0 0.7 1;0.3 0 0.7 1"></animate>
        <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="5s" values="0;0;-81" keyTimes="0;0.5;1"></animate>
      </text>
      </svg>
</div>