<div *ngIf="preloading" id="preloader" class="preloader">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: transparent; display: block;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <text x="50" y="50" text-anchor="middle" dy="0.38em" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke="#2f89fc" stroke-width="0.6000000000000001" font-size="28" font-family="Harry P">
          LOADING
          <animate attributeName="stroke-dasharray" repeatCount="indefinite" calcMode="spline" dur="5.88235294117647s" values="0 100;100 100;0 100" keyTimes="0;0.5;1" keySplines="0.3 0 0.7 1;0.3 0 0.7 1"></animate>
          <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="5.88235294117647s" values="0;0;-100" keyTimes="0;0.5;1"></animate>
        </text>
    </svg>
</div>



<div id="right-menu-bar">
    <div #bars (click)="toggleChange()" class="bars" [class.change]="changeClass">
        <div class="bar-1" [class.change]="changeClass"></div>
        <div class="bar-2" [class.change]="changeClass"></div>
        <div class="bar-3" [class.change]="changeClass"></div>
    </div>
    <div class="overlay" (click)="toggleChange()" [class.change]="changeClass"></div>
    <div class="right-menu" [class.change]="changeClass">
        <div class="menu ">
            <ul>
                <li>
                    <a class="scrollto" (click)="menuLink('about')">About Me</a>
                </li>
                <li>
                    <a class="scrollto" (click)="menuLink('resume')">Resume</a>
                </li>
                <li>
                    <a id="project" class="scrollto" (click)="alertN('Yet to Update')">Projects</a>
                </li>
                <li>
                    <a class="scrollto" (click)="menuLink('hobbies')">Hobbies</a>
                </li>
                <li>
                    <a class="scrollto" (click)="menuLink('contact')">Contact</a>
                </li>
                <li>
                    <a class="scrollto" (click)="toggleChange()" href="../assets/files/LIKHITH_R_KULAL.pdf" download="Likhith-RK-Resume">Download CV&nbsp;
                        <i class="icon-download" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-footer">
            <ul>
                <li>
                    <a href="htps://twitter.com/lucifer_rk/" target="_blank"><span class="icon-twitter"></span></a>
                </li>
                <li>
                    <a href="https://github.com/luciferRK/" target="_blank"><span class="icon-github"></span></a>
                </li>
                <li>
                    <a href="https://instagram.com/lucifer_rk_/" target="_blank"><span class="icon-instagram"></span></a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/likhith-rk/" target="_blank"><span class="icon-linkedin"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="fixed-boxes" [class.change]="changeClass">
    <div class="fixed-1"></div>
    <div class="fixed-2"></div>
</div>

<div class="page" [class.change]="changeClass">


    <header>
        <div>
            <img src="../assets/images/name_logo_white.png" />
            <span>{{navbarName}}</span>
        </div>
        <!-- Here the right-menu-bar was present -->
    </header>


    <div class="container-intro">
        <div>
            <div class="title">
                {{welcomeMsg}}
            </div>
            <div class="typed-container">
                <ngx-typed-js [strings]="['Student','Web Developer','Web Designer','Programmer','Graphic Designer']"
                    [loop]="true" [typeSpeed]="100" [backSpeed]="100" [cursorChar]="'/'">
                    <span class="typing"></span>
                </ngx-typed-js>
            </div>
        </div>
    </div>

    <div id="about" class="about-parent container row-flex fs">
        <div class="background-text">About</div>
        <div class="display-picture">
            <div class="the-img">
                <!-- <img src="../assets/images/author-1.jpg" alt="Profile-Picture" > -->
            </div>
        </div>
        <div class="about">
            <div class="heading">
                <p>Hey! I'm Likhith RK</p>
            </div>
            <div class="content">
                A Final year student pursuing BE Computer Science, who likes to get experience by working on various
                things and share as much knowledge as possible.
            </div>
            <div class="social">
                <ul>
                    <li>
                        <a target="_blank" href="https://github.com/luciferRK">
                            <span class="icon-github"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://instagram.com/lucifer_rk_" target="_blank">
                            <span class="icon-instagram"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://twitter.com/lucifer_rk" target="_blank">
                            <span class="icon-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://linkedin.com/in/likhith-rk" target="_blank">
                            <span class="icon-linkedin"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <p class="light-heading">You can reach me through</p>
                <div>
                    <p>Email: <span><a href="mailto:likhithraj10@gmail.com"
                                target="_blank">likhithraj10@gmail.com</a></span></p>
                    <p>Phone: <span><a href="tel:8748914754" target="_blank">8748914754</a></span></p>
                </div>
            </div>
        </div>
    </div>

    <div id="resume" class="container resume fs-b">
        <div class="profile">
            <div class="link-to-resume" (click)="showResume()">
                <div class="background-text">Resume</div>
                <span class="icon-link"></span>
            </div>
            <div class="profile-content col-80">
                <h2>Profile</h2>
                <h4>I'm a Final Year Student from Mangalore, India. I aim to make a difference through my skills.</h4>
                <p class="gray">I'm seeking for an opportunity to work in a professional environment to gain experience
                    and learn new things while using and improving my skills.</p>
                <div>
                    <div>
                        <p>
                            <strong>Name:</strong>
                            <span class="gray"> Likhith R Kulal</span>
                        </p>
                        <p>
                            <strong>Place:</strong>
                            <span class="gray"> Mangalore, India</span>
                        </p>
                        <p>
                            <strong>Phone:</strong>
                            <span class="gray"> +91-8748-914754</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="education">
            <!-- <div class="education-content ftco-animate fadeInUp ftco-animated"> -->
            <div class="education-content col-80">
                <h2>Education</h2>
                <div>
                    <div class="desc">
                        <h4>Bachelors Degree in Computer Science<span style="color: #2f89fc;"> - Sahyadri College of
                                Engineering and Management</span></h4>
                        <p class="gray location">Mangalore - India</p>
                    </div>
                    <div class="gray year">
                        <p>2017 - Present</p>
                    </div>
                </div>
                <div>
                    <div class="desc">
                        <h4>Pre University College<span style="color: #2f89fc;"> - St Joseph's PU College</span></h4>
                        <p class="gray location">Mangalore - India</p>
                    </div>
                    <div class="gray year">
                        <p>2015 - 2017</p>
                    </div>
                </div>
                <div>
                    <div class="desc">
                        <h4>High / Secondary School<span style="color: #2f89fc;"> - Noble High School</span></h4>
                        <p class="gray location">Mangalore - India</p>
                    </div>
                    <div class="gray year">
                        <p>2005 - 2015</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="skills">
            <div class="skills-content col-50">
                <h2>My Skills</h2>
                <div class="skill">
                    <div>
                        <p>Photoshop</p>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-bar-fill fill-65">
                            <span class="percent">65%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div>
                        <p>HTML/CSS/JS</p>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-bar-fill fill-60">
                            <span class="percent">60%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div>
                        <p>Programming</p>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-bar-fill fill-70">
                            <span class="percent">70%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div>
                        <p>Web Dev</p>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-bar-fill fill-60">
                            <span class="percent">60%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div>
                        <p>Problem Solving</p>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-bar-fill fill-70">
                            <span class="percent">70%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div>
                        <p>Designing</p>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-bar-fill fill-55">
                            <span class="percent">55%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="hobbies" class="container hobbies fs-b">
        <div class="row heading-main">
            <div class="col-100 t-c ftco-animate fadeInUp ftco-animated">
                <span class="gray">What i like to do</span>
                <h2>My Hobbies</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4 align-center ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon mb-3">
                        <span class="icon-image"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Photo Editing&nbsp;<span (click)="openPhotoSite()" class="link blue icon-link"></span></h3>
                    </div>
                </div>
            </div>
            <div class="col-4 align-center ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon mb-3">
                        <span class="icon-gamepad"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Chess</h3>
                        <h3 class="heading nm-t-b">Cricket</h3>
                    </div>
                </div>
            </div>
            <div class="col-4 align-center ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon mb-3">
                        <span class="icon-road"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Travelling</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 align-center ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon mb-3">
                        <span class="icon-book"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Reading Novels (Rarely)</h3>
                    </div>
                </div>
            </div>
            <div class="col-4 align-center ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon mb-3">
                        <span class="icon-keyboard"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Typing</h3>
                    </div>
                </div>
            </div>
            <div class="col-4 align-center ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services p-3 py-4 d-block text-center">
                    <div class="icon mb-3">
                        <span class="icon-camera"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Photography</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="container contact fs-t">
        <div class="background-text">Contact</div>
        <div class="row col-70">
            <p>
                <span>Phone:</span><br>
                <span><a class="blue" href="tel:+918748914754">8748 914754</a></span>
            </p>
            <p>
                <span>Email:</span><br>
                <span><a class="blue" href="mailto:likhithraj10@gmail.com">likhithraj10@gmail.com</a></span>
            </p>
            <p>
                <span>Website:</span><br>
                <span><a class="blue" href="http://luciferrk.github.io">likhith-rk</a></span>
            </p>
        </div>
        <div class="form-social">
            <div class="contact-form">
                <form #contact_form="ngForm" (ngSubmit)="submitngForm(contact_form)">
                    <input type="text" ngModel #name="ngModel" required name="name" placeholder="Name"/>
                    <input type="email" ngModel #email="ngModel" required name="email" placeholder="Email"/>
                    <input type="text" ngModel #subject="ngModel" required name="subject" placeholder="Subject"/>
                    <textarea name="message" ngModel #message="ngModel" required cols="30" rows="4" placeholder="Message"></textarea>
                    <input type="submit" value="Send Message">
                    <p *ngIf="submitted"><span [style]="submitMsgColor">{{submitText}}</span></p>
                </form>
            </div>
            <div class="social">
                <span class="heading">Social Media Handles</span>
                <ul>
                    <li>
                        <a target="_blank" href="https://github.com/luciferRK">
                            <span class="icon-github"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://instagram.com/lucifer_rk_" target="_blank">
                            <span class="icon-instagram"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://twitter.com/lucifer_rk" target="_blank">
                            <span class="icon-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://linkedin.com/in/likhith-rk" target="_blank">
                            <span class="icon-linkedin"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>